body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("./resources/Peace, Love, and Daydreams_ Photo.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#display {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.drum-pad {
    width: 5em;
    height: 5em;
    margin: 10px;

    border: white solid 2px;
    text-align: center;
    transition-duration: 0.07s;
    background-color: #fefefe;
    opacity: 0.3;
}

.key-pressed {
    transform: scale(1.1);
}

